In [2]:
# Libraries

import os                       # Miscellaneous operating system interfaces
import pandas as pd             # Data manipulation and analysis
import numpy as np              # Mathematical functions off of arrays

import matplotlib.pyplot as plt # Implicit, MATLAB-like, way of plotting
import seaborn as sns           # Data visualization library based on matplotlib

# import warnings
# warnings.filterwarnings('ignore')

In [3]:
pwd = os.getcwd()               # Get present working directory

In [4]:
pwd

'/Users/jasonisberto/Python_Projects/Monkeypox Dataset - 2022-08-12'

In [6]:
# Increase width of Jupyter Notebook interface

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [7]:
# Import CSV

global_cases_data = pd.read_csv('Monkey_Pox_Cases_Worldwide.csv')
global_cases_data

,Country,Confirmed_Cases,Suspected_Cases,Hospitalized,Travel_History_Yes,Travel_History_No
0,England,2883.0,0.0,5.0,2.0,7.0
1,Portugal,710.0,0.0,0.0,0.0,34.0
2,Spain,5162.0,0.0,13.0,2.0,0.0
3,United States,10726.0,0.0,4.0,41.0,10.0
4,Canada,1011.0,10.0,1.0,3.0,0.0
...,...,...,...,...,...,...
108,Central African Republic,8.0,9.0,0.0,0.0,0.0
109,Republic of Congo,2.0,6.0,0.0,0.0,0.0
110,Cameroon,7.0,26.0,0.0,0.0,0.0
111,Liberia,1.0,4.0,0.0,0.0,0.0
112,Sierra Leone,0.0,2.0,0.0,0.0,0.0

# Data Pre-processing

In [9]:
# describe() - method returns description of the data in the DataFrame

global_cases_data.describe()

,Confirmed_Cases,Suspected_Cases,Hospitalized,Travel_History_Yes,Travel_History_No
count,113.000000,113.000000,113.000000,113.000000,113.000000
mean,301.619469,21.380531,1.132743,2.176991,0.761062
std,1216.843819,198.704794,2.892430,5.032448,3.711166
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,0.000000,1.000000,0.000000
75%,48.000000,0.000000,1.000000,2.000000,0.000000
max,10726.000000,2103.000000,18.000000,41.000000,34.000000

In [14]:
# shape - Return a tuple representing the dimensionality of the DataFrame

global_cases_data.shape

(113, 6)

In [15]:
# value_counts() - function is used to get a Series containing counts of unique values.

global_cases_data['Country'].value_counts()

Haiti                 1
Uganda                1
Benin                 1
Liberia               1
Colombia              1
                     ..
Austria               1
Saudi Arabia          1
Dominican Republic    1
United States         1
Israel                1
Name: Country, Length: 113, dtype: int64

In [25]:
# isnull().sum / shape[0] - 
# Shows percentage of how many missing values are in each column

global_cases_data.isnull().sum() /global_cases_data.shape[0]

Country               0.0
Confirmed_Cases       0.0
Suspected_Cases       0.0
Hospitalized          0.0
Travel_History_Yes    0.0
Travel_History_No     0.0
dtype: float64